aiohttp>=3.13.3
asteval>=1.0.8
curl_cffi>=0.14.0
discord.py>=2.7.1
google-api-python-client>=2.192.0
google-api-python-client-stubs>=1.34.0
google-auth-httplib2>=0.3.0
google-auth-oauthlib>=1.3.0
numpy>=2.4.3
pycryptodomex>=3.23.0
python-dotenv>=1.2.2
soundfile>=0.13.1
tzdata>=2025.3
