aiohttp>=3.13.0
asteval>=1.0.6
discord.py>=2.6.4
google-api-python-client>=2.184.0
google-api-python-client-stubs>=1.30.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.2
numpy>=2.3.3
pycryptodomex>=3.23.0
python-dotenv>=1.1.1
tzdata>=2025.2
